.DS_Store
cover.out

# Editor directories and files
.idea
.vscode
.project
*.test
project.dict
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#
/cache/
/reports/
/cover-data/
/.scannerwork
/tmp/

/tools/*
/include/*
!/tools/goget-wrapper
*.coverprofile

/gateway

build/package/helm/monoskope/Chart.lock
build/package/helm/monoskope/charts/**
